In [2]:
import numpy as np
import pandas as pd

# Summary of the data

This is a dataset about 500 patients of which 350 patients participated in a clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before. All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After 4 weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:

- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

Data about patients feeling some adverse effects is also recorded.


### 2. Column descriptions

#### **Table** -> `patients`:

- `patient_id`: the unique identifier for each patient in the Master Patient Index (i.e. patient database) of the pharmaceutical company that is producing Auralin
- `assigned_sex`: the assigned sex of each patient at birth (male or female)
- `given_name`: the given name (i.e. first name) of each patient
- `surname`: the surname (i.e. last name) of each patient
- `address`: the main address for each patient
- `city`: the corresponding city for the main address of each patient
- `state`: the corresponding state for the main address of each patient
- `zip_code`: the corresponding zip code for the main address of each patient
- `country`: the corresponding country for the main address of each patient (all United states for this clinical trial)
- `contact`: phone number and email information for each patient
- `birthdate`: the date of birth of each patient (month/day/year). The inclusion criteria for this clinical trial is age >= 18 (there is no maximum age because diabetes is a growing problem among the elderly population)
- `weight`: the weight of each patient in pounds (lbs)
- `height`: the height of each patient in inches (in)
- `bmi`: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m2 where kg is a person's weight in kilograms and m2 is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. The inclusion criteria for this clinical trial is 16 >= BMI >= 38.

#### **Table** -> `treatments` and `treatment_cut`:

- `given_name`: the given name of each patient in the Master Patient Index that took part in the clinical trial
- `surname`: the surname of each patient in the Master Patient Index that took part in the clinical trial
- `auralin`: the baseline median daily dose of insulin from the week prior to switching to Auralin (the number before the dash) and the ending median daily dose of insulin at the end of the 24 weeks of treatment measured over the 24th week of treatment (the number after the dash). Both are measured in units (shortform 'u'), which is the international unit of measurement and the standard measurement for insulin.
- `novodra`: same as above, except for patients that continued treatment with Novodra
- `hba1c_start`: the patient's HbA1c level at the beginning of the first week of treatment. HbA1c stands for Hemoglobin A1c. The HbA1c test measures what the average blood sugar has been over the past three months. It is thus a powerful way to get an overall sense of how well diabetes has been controlled. Everyone with diabetes should have this test 2 to 4 times per year. Measured in %.
- `hba1c_end`: the patient's HbA1c level at the end of the last week of treatment
- `hba1c_change`: the change in the patient's HbA1c level from the start of treatment to the end, i.e., hba1c_start - hba1c_end. For Auralin to be deemed effective, it must be "noninferior" to Novodra, the current standard for insulin. This "noninferiority" is statistically defined as the upper bound of the 95% confidence interval being less than 0.4% for the difference between the mean HbA1c changes for Novodra and Auralin (i.e. Novodra minus Auralin).


#### **Table** -> `adverse_reactions`

- `given_name`: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `surname`: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `adverse_reaction`: the adverse reaction reported by the patient

In [3]:
patients = pd.read_csv('D:\Data science\csv\data_wrangling\patients.csv')
adverse_reactions = pd.read_csv('D:/Data science/csv/data_wrangling/adverse_reactions.csv')
treatment = pd.read_csv('D:/Data science/csv/data_wrangling/treatments.csv')
treatment_cut = pd.read_csv('D:/Data science/csv/data_wrangling/treatments_cut.csv')

In [4]:
# combining all the table into a single excel file to get a better view
with pd.ExcelWriter('clinical_trials.xlsx') as writer:
    patients.to_excel(writer,sheet_name='patients')
    treatment.to_excel(writer,sheet_name='treatment')
    treatment_cut.to_excel(writer,sheet_name='treatment_cut')
    adverse_reactions.to_excel(writer,sheet_name='adverse_reactions')

In [5]:
# creating copies of all the tables we have
patients_df = patients.copy()
adverse_reactions_df = adverse_reactions.copy()
treatment_df = treatment.copy()
treatment_cut_df = treatment_cut.copy()

# Functions we can use to get a view of our data

- head and tail
- sample
- info
- isnull
- duplicated
- describe

In [6]:
# checking for duplicate and null records in the data
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [7]:
patients_df.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [8]:
patients_df.tail()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [9]:
patients_df.sample(3)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
197,198,male,Thể,Lương,2403 Ripple Street,Gaylord,MI,49735.0,United States,LuongKhacThe@dayrep.com1 989 705 7690,11/15/1967,223.1,70,32.0
271,272,male,Russom,Amanuel,3942 Jerome Avenue,Edinburg,TX,78539.0,United States,RussomAmanuel@armyspy.com956-380-7249,2/15/1996,142.3,70,20.4
375,376,female,Sofia,Hermansen,2272 Woodland Avenue,Houma,LA,70360.0,United States,SofiaBHermansen@rhyta.com985-580-4827,2/27/1957,186.8,65,31.1

In [10]:
patients_df.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [11]:
# we found null values in address,city,state,zip code columns. There are two ways to treat null values either we can fill them with the help of fillna function or drop the null record.

patients_df[patients_df['address'].isnull()]

#dropping na columns
patients_df.dropna(how='any',inplace=True)

# checking for dupliacte records
patients_df.duplicated().sum()

# we can also check for duplicated columns through subset parameter of .duplicated
patients_df[patients_df.duplicated(subset=['given_name','surname'])]

# dopping the duplicated columns
patients_df.drop(index=[237,244,251,277],inplace=True)

In [12]:
# setting the index from columns 'patient_id' as all the ids are unqiue 
patients_df.set_index('patient_id',inplace=True)

In [13]:
# trial records are separated btw two tabels: treatment_df & treatment_cut_df. Hence we are combining them both
treatment_df = pd.concat([treatment_df,treatment_cut_df])
treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [14]:
# lets begin the analyis of the table by checking duplicate and null values

treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [15]:
treatment_df.head(2)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97

In [25]:
treatment_df.tail(2)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,variable,start_dosage,end_dosage,adverse_reaction
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28,26,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42,44,injection site discomfort

In [26]:
treatment_df.sample(2)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,variable,start_dosage,end_dosage,adverse_reaction
228,kai,cunha,7.81,7.42,0.39,novodra,37,36,NaN
132,naja,enoksen,7.98,7.59,0.39,auralin,43,50,NaN

In [27]:
treatment.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [16]:
# filling out the missing values in col hba1c_change
treatment_df['hba1c_change']= treatment_df['hba1c_start'] - treatment_df['hba1c_end']

In [17]:
# trail values is missing in alternate columns of auralin & novodra because one person is only gone through a single trial
treatment_df = treatment_df.melt(id_vars=['given_name','surname','hba1c_start','hba1c_end','hba1c_change'])

In [18]:
treatment_df = treatment_df[treatment_df['value'] != '-']

In [19]:
# value column contains dosage amount at the start & at end of the trial so we can separate them in two different column

treatment_df['start_dosage'] = treatment_df['value'].str.split('-').str.get(0)
treatment_df['end_dosage']= treatment_df['value'].str.split('-').str.get(1)

In [20]:
# dropping the orignal value column
treatment_df.drop(columns='value',inplace=True)

In [21]:
# removing the unit of dosage `u`
treatment_df['start_dosage']= treatment_df['start_dosage'].str.replace('u','')
treatment_df['end_dosage']= treatment_df['end_dosage'].str.replace('u','')

In [22]:
treatment_df.isnull().sum() # no null values in the column

given_name      0
surname         0
hba1c_start     0
hba1c_end       0
hba1c_change    0
variable        0
start_dosage    0
end_dosage      0
dtype: int64

In [23]:
# checking the data type of columns and changing if necessary
treatment_df['start_dosage'] = treatment_df['start_dosage'].astype('int16')
treatment_df['end_dosage'] = treatment_df['end_dosage'].astype('int16')
treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 698
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   hba1c_start   350 non-null    float64
 3   hba1c_end     350 non-null    float64
 4   hba1c_change  350 non-null    float64
 5   variable      350 non-null    object
 6   start_dosage  350 non-null    int16
 7   end_dosage    350 non-null    int16
dtypes: float64(3), int16(2), object(3)
memory usage: 20.5+ KB

In [24]:
# combining records of tables 'treatment_df' & 'adverse_reactions_df'
treatment_df = treatment_df.merge(adverse_reactions_df,how='left',on=['given_name','surname'])
treatment_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,variable,start_dosage,end_dosage,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41,48,NaN
1,skye,gormanston,7.97,7.62,0.35,auralin,33,36,NaN
2,sophia,haugen,7.65,7.27,0.38,auralin,37,42,NaN
3,eddie,archer,7.89,7.55,0.34,auralin,31,38,NaN
4,asia,woźniak,7.76,7.37,0.39,auralin,30,36,NaN
...,...,...,...,...,...,...,...,...,...
345,christopher,woodward,7.51,7.06,0.45,novodra,55,51,nausea
346,maret,sultygov,7.67,7.30,0.37,novodra,26,23,NaN
347,lixue,hsueh,9.21,8.80,0.41,novodra,22,23,injection site discomfort
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28,26,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42,44,injection site discomfort