In [267]:
import numpy as np
import pandas as pd

# Summary of the data

This is a dataset about 500 patients of which 350 patients participated in a clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before. All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After 4 weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:

- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

Data about patients feeling some adverse effects is also recorded.


### 2. Column descriptions

#### **Table** -> `patients`:

- `patient_id`: the unique identifier for each patient in the Master Patient Index (i.e. patient database) of the pharmaceutical company that is producing Auralin
- `assigned_sex`: the assigned sex of each patient at birth (male or female)
- `given_name`: the given name (i.e. first name) of each patient
- `surname`: the surname (i.e. last name) of each patient
- `address`: the main address for each patient
- `city`: the corresponding city for the main address of each patient
- `state`: the corresponding state for the main address of each patient
- `zip_code`: the corresponding zip code for the main address of each patient
- `country`: the corresponding country for the main address of each patient (all United states for this clinical trial)
- `contact`: phone number and email information for each patient
- `birthdate`: the date of birth of each patient (month/day/year). The inclusion criteria for this clinical trial is age >= 18 (there is no maximum age because diabetes is a growing problem among the elderly population)
- `weight`: the weight of each patient in pounds (lbs)
- `height`: the height of each patient in inches (in)
- `bmi`: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m2 where kg is a person's weight in kilograms and m2 is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. The inclusion criteria for this clinical trial is 16 >= BMI >= 38.

#### **Table** -> `treatments` and `treatment_cut`:

- `given_name`: the given name of each patient in the Master Patient Index that took part in the clinical trial
- `surname`: the surname of each patient in the Master Patient Index that took part in the clinical trial
- `auralin`: the baseline median daily dose of insulin from the week prior to switching to Auralin (the number before the dash) and the ending median daily dose of insulin at the end of the 24 weeks of treatment measured over the 24th week of treatment (the number after the dash). Both are measured in units (shortform 'u'), which is the international unit of measurement and the standard measurement for insulin.
- `novodra`: same as above, except for patients that continued treatment with Novodra
- `hba1c_start`: the patient's HbA1c level at the beginning of the first week of treatment. HbA1c stands for Hemoglobin A1c. The HbA1c test measures what the average blood sugar has been over the past three months. It is thus a powerful way to get an overall sense of how well diabetes has been controlled. Everyone with diabetes should have this test 2 to 4 times per year. Measured in %.
- `hba1c_end`: the patient's HbA1c level at the end of the last week of treatment
- `hba1c_change`: the change in the patient's HbA1c level from the start of treatment to the end, i.e., hba1c_start - hba1c_end. For Auralin to be deemed effective, it must be "noninferior" to Novodra, the current standard for insulin. This "noninferiority" is statistically defined as the upper bound of the 95% confidence interval being less than 0.4% for the difference between the mean HbA1c changes for Novodra and Auralin (i.e. Novodra minus Auralin).


#### **Table** -> `adverse_reactions`

- `given_name`: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `surname`: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- `adverse_reaction`: the adverse reaction reported by the patient

In [268]:
patients = pd.read_csv('D:\Data science\csv\data_wrangling\patients.csv')
adverse_reactions = pd.read_csv('D:/Data science/csv/data_wrangling/adverse_reactions.csv')
treatment = pd.read_csv('D:/Data science/csv/data_wrangling/treatments.csv')
treatment_cut = pd.read_csv('D:/Data science/csv/data_wrangling/treatments_cut.csv')

In [269]:
# combining all the table into a single excel file to get a better view
with pd.ExcelWriter('clinical_trials.xlsx') as writer:
    patients.to_excel(writer,sheet_name='patients')
    treatment.to_excel(writer,sheet_name='treatment')
    treatment_cut.to_excel(writer,sheet_name='treatment_cut')
    adverse_reactions.to_excel(writer,sheet_name='adverse_reactions')

In [270]:
# creating copies of all the tables we have
patients_df = patients.copy()
adverse_reactions_df = adverse_reactions.copy()
treatment_df = treatment.copy()
treatment_cut_df = treatment_cut.copy()

# Functions we can use to get a view of our data

- head and tail
- sample
- info
- isnull
- duplicated
- describe

In [271]:
# checking for duplicate and null records in the data
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [272]:
# we found null values in address,city,state,zip code columns. There are two ways to treat null values either we can fill them with the help of fillna function or drop the null record.

patients_df[patients_df['address'].isnull()]

#dropping na columns
patients_df.dropna(how='any',inplace=True)

# checking for dupliacte records
patients_df.duplicated().sum()

# we can also check for duplicated columns through subset parameter of .duplicated
patients_df[patients_df.duplicated(subset=['given_name','surname'])]

# dopping the duplicated columns
patients_df.drop(index=[237,244,251,277],inplace=True)

In [273]:
# setting the index from columns 'patient_id' as all the ids are unqiue 
patients_df.set_index('patient_id',inplace=True)

In [274]:
# trial records are separated btw two tabels: treatment_df & treatment_cut_df. Hence we are combining them both
treatment_df = pd.concat([treatment_df,treatment_cut_df])
treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [275]:
# lets begin the analyis of the table by checking duplicate and null values

treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [276]:
# filling out the missing values in col hba1c_change
treatment_df['hba1c_change']= treatment_df['hba1c_start'] - treatment_df['hba1c_end']

In [277]:
# trail values is missing in alternate columns of auralin & novodra because one person is only gone through a single trial
treatment_df = treatment_df.melt(id_vars=['given_name','surname','hba1c_start','hba1c_end','hba1c_change'])

In [278]:
treatment_df = treatment_df[treatment_df['value'] != '-']

In [279]:
# value column contains dosage amount at the start & at end of the trial so we can separate them in two different column

treatment_df['start_dosage'] = treatment_df['value'].str.split('-').str.get(0)
treatment_df['end_dosage']= treatment_df['value'].str.split('-').str.get(1)

In [280]:
# dropping the orignal value column
treatment_df.drop(columns='value',inplace=True)

In [281]:
# removing the unit of dosage `u`
treatment_df['start_dosage']= treatment_df['start_dosage'].str.replace('u','')
treatment_df['end_dosage']= treatment_df['end_dosage'].str.replace('u','')

In [282]:
treatment_df.isnull().sum() # no null values in the column

given_name      0
surname         0
hba1c_start     0
hba1c_end       0
hba1c_change    0
variable        0
start_dosage    0
end_dosage      0
dtype: int64

In [289]:
# checking the data type of columns and changing if necessary
treatment_df['start_dosage'] = treatment_df['start_dosage'].astype('int16')
treatment_df['end_dosage'] = treatment_df['end_dosage'].astype('int16')
treatment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        350 non-null    object
 1   surname           350 non-null    object
 2   hba1c_start       350 non-null    float64
 3   hba1c_end         350 non-null    float64
 4   hba1c_change      350 non-null    float64
 5   variable          350 non-null    object
 6   start_dosage      350 non-null    int16
 7   end_dosage        350 non-null    int16
 8   adverse_reaction  35 non-null     object
dtypes: float64(3), int16(2), object(4)
memory usage: 20.6+ KB

In [284]:
# combining records of tables 'treatment_df' & 'adverse_reactions_df'
treatment_df = treatment_df.merge(adverse_reactions_df,how='left',on=['given_name','surname'])
treatment_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,variable,start_dosage,end_dosage,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41,48,NaN
1,skye,gormanston,7.97,7.62,0.35,auralin,33,36,NaN
2,sophia,haugen,7.65,7.27,0.38,auralin,37,42,NaN
3,eddie,archer,7.89,7.55,0.34,auralin,31,38,NaN
4,asia,woźniak,7.76,7.37,0.39,auralin,30,36,NaN
...,...,...,...,...,...,...,...,...,...
345,christopher,woodward,7.51,7.06,0.45,novodra,55,51,nausea
346,maret,sultygov,7.67,7.30,0.37,novodra,26,23,NaN
347,lixue,hsueh,9.21,8.80,0.41,novodra,22,23,injection site discomfort
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28,26,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42,44,injection site discomfort